
<table id="partido_fields" width="100%">
    <tbody>
        <tr>
            <td width="33%" style="vertical-align: top;">
                <input type="hidden" name="testing" value="4">
                <h3>Jugadores</h3>
                <fieldset id="participantes">
                    <button class="button button-secondary" id="seleccionar_favoritos">
                        Seleccionar favoritos
                    </button>
                    <?php foreach($jugadores as $jugador): ?>
                        <p>
                            <label for="<?php echo 'participa_'.$jugador->id ?>">
                                <input  id="<?php echo 'participa_'.$jugador->id ?>"
                                        name="participantes[]"
                                        value="<?php echo $jugador->id ?>"
                                        type="checkbox"
                                        data-favorito="<?php echo $jugador->favorito; ?>"
                                        data-nombre="<?php echo $jugador->nombre; ?>"
                                        data-promedio="<?php echo $jugador->promedio;?>"
                                        <?php if($jugador->participa): ?>
                                            checked
                                            data-equipo="<?php echo $jugador->equipo; ?>" <?php /* esto es para carga inicial de equipos via JS */?>
                                        <?php endif; ?>

                                >
                                <?php echo($jugador->nombre); ?>
                            </label>
                        </p>
                    <?php endforeach; ?>
                    <p class="description">
                        participantes:
                        <span id="participantes_total">0</span>
                    </p>
                    <button class="button button-secondary" disabled id="boton_promediar_simple">
                        Mezclar Promediando (algoritmo simple)
                    </button><br>
                    <button class="button button-secondary" disabled id="boton_promediar">
                        Mezclar Promediando (algoritmo pro)
                    </button><br>
                    <button class="button button-secondary" disabled id="boton_mezclar">
                        Mezclar Random
                    </button>
                </fieldset>
            </td>
            <td width="33%" style="vertical-align: top;">
                <h3>Equipos</h3>
                <label for="resultado">Resultado</label>
                <select name="resultado" id="resultado">
                    <option value="0" <?php if($partido->resultado == 0) echo 'selected'; ?> >Sin jugar</option>
                    <option value="3" <?php if($partido->resultado == 3) echo 'selected'; ?> >Empate</option>
                    <option value="1" <?php if($partido->resultado == 1) echo 'selected'; ?> >Gan&oacute; Equipo A</option>
                    <option value="2" <?php if($partido->resultado == 2) echo 'selected'; ?> >Gan&oacute; Equipo B</option>
                </select>
                <fieldset id="equipos">
                    <h2>
                        Equipo A
                        <ol id="equipo_a_combo">
                            <li><select name="jugadoresEquipoA[]" disabled></select></li>
                            <li><select name="jugadoresEquipoA[]" disabled></select></li>
                            <li><select name="jugadoresEquipoA[]" disabled></select></li>
                            <li><select name="jugadoresEquipoA[]" disabled></select></li>
                            <li><select name="jugadoresEquipoA[]" disabled></select></li>
                        </ol>
                    </h2>
                    <h2>
                        Equipo B
                        <ol id="equipo_b_combo">
                            <li><select name="jugadoresEquipoB[]" disabled></select></li>
                            <li><select name="jugadoresEquipoB[]" disabled></select></li>
                            <li><select name="jugadoresEquipoB[]" disabled></select></li>
                            <li><select name="jugadoresEquipoB[]" disabled></select></li>
                            <li><select name="jugadoresEquipoB[]" disabled></select></li>
                        </ol>
                    </h2>
                </fieldset>
            </td>
            <td width="33%" style="vertical-align: top;">
                <h3>Suspendidos</h3>
                <fieldset id="suspendidos">
                    <?php foreach($jugadores as $jugador): ?>
                        <?php if($jugador->participa): ?>
                            <p data-id="<?php echo $jugador->id; ?>">
                                <label for="suspendido_<?php echo $jugador->id;?>">
                                    <input  type="checkbox"
                                            name="suspendido[<?php echo $jugador->id;?>]"
                                            value="<?php echo $jugador->id; ?>"
                                            id="suspendido_<?php echo $jugador->id;?>"
                                            <?php if($jugador->suspendido) echo 'checked'; ?>
                                    >
                                    <?php echo $jugador->nombre; ?>
                                </label>
                            </p>
                        <?php endif; ?>
                    <?php endforeach;?>
                </fieldset>
            </td>
        </tr>
    </tbody>
</table>